.color {
  width: 350px;
  height: 350px;
  border: solid;
}
img {
  height: 200px;
  width: 350px;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.color h1 {
  margin-left: 45px;
  margin-top: 0px;
}
.color p {
  /* font-style: italic; */
  font-size: medium;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: -18px;
}
