.color {
  width: 350px;
  height: 600px;
  border: solid;
}
img {
  height: 300px;
  width: 350px;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.color h1 {
  margin-left: 45px;
}
.color;
